.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    
}
.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Shippori Antique';
}
.menubar{
    margin-right: 20px;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    color: #1c1c1c;
}
/* .menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} */
.menu ul a{
    margin-right: 20px;
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    color: #1c1c1c;
}
a:hover{
    border-bottom: 2px solid darkblue;
}