
.logo{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Shippori Antique';
    color: white;
    text-decoration: none;
}
.menubar{
    font-size: 16px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
.menubar:hover{
    color: #1da1fa;
    border-bottom: 1.5px solid #1da1fa;
}

@media screen and (max-width: 576px) {
    .logo h2{
        display: none;
    }
    .menubar{
        margin-right: 5px;
        padding: 5px;
        font-size: 12px;
        text-decoration: none;
        color: white;
    }
}